.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 285px;
  height: 295px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 20px;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 145px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 0;
  
  height: 30px;
}

.productlist .product-description {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin: 0;
  height:37px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.productlist .final-cost{
  font-size: 15px;
  white-space: nowrap;
  font-weight: bolder;
}
.productlist .off-percentage{
  font-size: 15px;
  font-weight: bolder;
  white-space: nowrap;
}
.productlist .strike-price{
  font-size: 13px;
}